body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5deb3;
    color: #5a3d2b;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    box-sizing: border-box;
}

input[type="date"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff; /* Achtergrondkleur toevoegen */
    font-size: 16px; /* Lettergrootte vergroten */
    color: #5a3d2b; /* Tekstkleur toevoegen */
    outline: none;
}

/* Aangepaste stijlen voor de geboortedatum-input focus */
input[type="date"]:focus {
    border-color: #d4af37; /* Borderkleur veranderen bij focus */
    box-shadow: 0 0 5px rgba(212, 175, 55, 0.5); /* Schaduw toevoegen bij focus */
}

#bevestig-knop{
    background-color: #d4af37;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
}

#bevestig-knop:hover{
    background-color: #b8860b;
}

select{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

.map{
    height: 250px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
}

.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.popup.show{
    visibility: visible;
    opacity: 1;
}

.popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    max-width: 400px;
    box-sizing: border-box;
}

.popup-content h2 {
    margin-bottom: 20px;
}

.error-message {
    color: red;
    margin-top: 10px;
    display: none;
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    margin: 20px, 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    overflow: auto;
    box-sizing: border-box;
    opacity: 0;
    transform: translateY(-20px);
}

.container.show {
    animation: fadeIn 0.5s ease forwards;
}

h1 {
    font-size: 48px;
    color: #d4af37;
    margin-bottom: 20px;
}

h2 {
    color: #5a3d2b;
    margin-bottom: 10px;
}

p {
    color: #5a3d2b;
    margin-bottom: 5px 0;
}

#bier-info {
    background-color: #fdf3e7;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

#bier-afbeelding {
    max-height: 500px;
    width: auto;
    border-radius: 5px;
    margin-bottom: 15px;
}

button {
    background-color: #d4af37;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    align-self: center;
}

button:hover {
    background-color: #b8860b;
}